.bear, .beard, .bi, .black, .blond, .chubby, .couple, .cruising, .daddy, .hairy, .hardcore, .hugedick, .leather, .military, .muscle, .naked, .piercing, .tatoo, .twink{
	background: url('/images/V2/tags/tags.png') no-repeat;
}

.bear{
	background-position: 0 0;
	width: 43px;
	height: 44px;
}

.beard{
	background-position: -100px 0;
	width: 43px;
	height: 44px;
}

.bi{
	background-position: -50px 0;
	width: 43px;
	height: 44px;
}

.black{
	background-position: -150px 0;
	width: 43px;
	height: 44px;
}

.blond{
	background-position: -200px 0;
	width: 43px;
	height: 44px;
}

.chubby{
	background-position: -150px -50px ;
	width: 43px;
	height: 44px;
}

.couple{
	background-position: -100px -50px ;
	width: 43px;
	height: 44px;
}

.cruising{
	background-position: 0 -50px ;
	width: 43px;
	height: 44px;
}

.daddy{
	background-position: -200px -50px ;
	width: 43px;
	height: 44px;
}

.hairy{
	background-position: -50px -50px ;
	width: 43px;
	height: 44px;
}

.hardcore{
	background-position: 0 -100px ;
	width: 43px;
	height: 44px;
}

.hugedick{
	background-position: -200px -100px ;
	width: 43px;
	height: 44px;
}

.leather{
	background-position: -150px -100px ;
	width: 43px;
	height: 44px;
}

.military{
	background-position: -100px -100px ;
	width: 43px;
	height: 44px;
}

.muscle{
	background-position: -50px -100px ;
	width: 43px;
	height: 44px;
}

.naked{
	background-position: -150px -150px ;
	width: 43px;
	height: 44px;
}

.piercing{
	background-position: -100px -150px ;
	width: 43px;
	height: 44px;
}

.tatoo{
	background-position: -50px -150px ;
	width: 43px;
	height: 44px;
}

.twink{
	background-position: 0 -150px ;
	width: 43px;
	height: 44px;
}

